.Pagina {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.nome-da-empresa {
  background: rgb(94, 173, 94);
  padding: 10px;
  border-radius: 15px;
  margin: 10px;
}

.nome-da-empresa:hover {
  background: green;
  font-weight: bold;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.856);
}

.EnsinoInteligente {
  font-size: 72px;
  text-align: center;
  font-weight: inherit;
}

.button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button {
  width: 140px;
  height: 70px;
  margin: 10px;
  border-radius: 5px;
  background: rgb(255, 255, 167);
  font-size: 18px;
}

.button:hover {
  background: #ffff00;
}

.page-section {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  background: #edf8ea;
  padding: 10px;
  border-radius: 15px;
}

.page-section:hover {

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.452);

}

.texto-corporativo {
  text-align: justify;
  font-size: 32px;
  font-family: monospace;
}

.texto-corporativo-in {

  text-align: center;
  font-size: 38px;
  font-family: monospace;
  font-weight: bolder;

}

.DestaqueNomeDaEmpresa001 {

color: #ff0000;
font-family: monospace;
font-weight: bold;

}

.DestaqueNomeDaEmpresa002 {

  color: #ff0000;
  font-family: monospace;
  font-weight: bold;

}

/* Media query para dispositivos móveis */
@media (max-width: 900px) {
  .button-container {
    flex-direction: column;
  }

  .button {
    width: 100%;
  }
}
