.Pagina {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: monospace;
}

.div-parte01 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.areas-do-conhecimento {
  background: rgb(94, 173, 94);
  padding: 10px;
  border-radius: 15px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.areas-do-conhecimento:hover {
  background: green;
  font-weight: bold;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.856);
}

.areas-do-conhecimento-texto {
  font-size: 72px;
  text-align: center;
  font-weight: inherit;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.return-button {
  width: 140px;
  height: 70px;
  margin: 10px;
  border-radius: 5px;
  background: rgb(255, 255, 167);
  font-size: 18px;
  border: none;
}

.return-button:hover {
  background: #ffff00;
}

.page-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  width: 200px; /* Largura desejada */
  height: 100px; /* Altura desejada */
  display: flex;
  margin: 0 10px;
}

.image-conhecimento {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.areas-do-conhecimento-div-01 {
  display: flex;
  flex-direction: row;
}

.div-button {
  display: flex;
  flex-direction: column;
}
