.Pagina {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  background: #D6AED6;
}

.Forms-Agendamento-De-Aula {
  width: 95%;
  max-width: 700px;
  margin: 0 auto;
  background: #A35CA3;
  border-radius: 6px;
  padding: 40px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.Forms-Agendamento-De-Aula:hover {
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3), 0 6px 12px rgba(0, 0, 0, 0.3);
}

.Title-Forms {
  text-align: center;
  color: #E6E6FA;
  font-size: 32px;
  font-weight: bold;
  transition: font-size 0.5s ease, color 0.5s ease;
}

.Title-Forms:hover{

font-size: 38px;

}

.Forms-Agendamento-De-Aula label {
  display: block;
  margin: 10px 0 5px;
  font-size: 16px;
  font-weight: bold;
}

.Forms-Agendamento-De-Aula input,
.Forms-Agendamento-De-Aula select,
.Seleção-De-Campo-De-Estudo,
.Seleção-De-Componente-Curricular,
.Seleção-De-Modalidade {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #050505;
  outline: none;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
}

.Forms-Agendamento-De-Aula input:focus,
.Forms-Agendamento-De-Aula select:focus,
.Seleção-De-Campo-De-Estudo:focus,
.Seleção-De-Componente-Curricular:focus,
.Seleção-De-Modalidade:focus {
  border-color: #002900;
}

.Forms-Agendamento-De-Aula button.agendar-button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #FFFAA7;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Forms-Agendamento-De-Aula button.agendar-button:hover {
  background: #FFFF00;
}

.section-forms {
  background: #BD85BD;
  padding: 30px;
  margin: 20px;
  border-radius: 15px;
}

@media screen and (max-width: 600px) {
  .Forms-Agendamento-De-Aula {
    width: 90%;
  }
}
