.Pagina {
    display: flex;
    flex-direction: column;
    background: #F1D6F1;
    /* background-image: url(Metodologias\ ativas.jpg); */
    flex-wrap: wrap;
    
  }

  .mapamentalmetodologiasativas {

    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;

  }

  .img-metodologias {

    background-repeat: no-repeat;
    background-size: cover; /* ou "contain" para ajustar a imagem */
    background-position: center center;

  }
  
  .Content {
    background: #D6AED6;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    background-image: linear-gradient(rgba(214, 174, 214, 0.75), rgba(214, 174, 214, 0.877)), url("metodologiadeensino.webp");
    background-size: cover;
  }
  
  .text-aprendizado-continuo {
    font-size: 38px;
    font-weight: bolder;
    
  }
  
  .section-geral {

  background-image: url(metodologiadeensino01.webp);
  padding: 100px;
  margin: 20px;
  border-radius: 15px;

}

  .DIV-Vídeo {
    max-width: 90%; /* Limita a largura da DIV-Vídeo a 90% do elemento pai */
    margin: auto; /* Centraliza a DIV-Vídeo horizontalmente */
    overflow: hidden; /* Impede que o vídeo ultrapasse os limites da DIV-Vídeo */
  }
  
  .vídeo {
    width: 100%; /* O vídeo ocupa 100% da largura da DIV-Vídeo */
    height: auto; /* A altura se ajusta automaticamente para manter a proporção */
  }
  