.Conteiner-Geral {

width: 100%;
height: 100%;
display: flex;
flex-direction: column;

}

.Conteiner-CorpoDaPagina {

    display: flex;
    flex-direction: column;
    position: fixed;
}


.Cabeçalho {

    width: 100%;
    display: flex;
    flex-direction: column;
    background:rgb(112, 178, 12);
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    justify-content: center;
    justify-items: center;


}

.Titulo-Da-Pagina {

font-size: 72px;

}

.return-button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #f1f1f1;
        color: #333;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        font-size: 18px;
        width: 140px;
        height: 70px;
        position: absolute;
        top: 50px;
        right: 30px;
        background: rgb(255, 255, 142);
    }
  
  .return-button:hover {
    background: #ffff00;
  }
  
  .page-section {
    margin-top: 50px;
    text-align: justify;
    font-size: 16px;
  }
  
  p {
    font-family: monospace;
  }
  
  


  
  