.page-section {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    background: #edf8ea;
    padding: 10px;
    border-radius: 15px;
  }
  
  .page-section:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.452);
  }
  
  .texto-corporativo {
    text-align: justify;
    font-size: 24px;
    font-family: monospace;
  }
  
  .texto-corporativo-in {
    text-align: center;
    font-size: 28px;
    font-family: monospace;
    font-weight: bolder;
  }
  
  @media only screen and (max-width: 768px) {
    .page-section {
      margin: 10px;
      padding: 5px;
      border-radius: 10px;
    }
  
    .texto-corporativo {
      font-size: 20px;
    }
  
    .texto-corporativo-in {
      font-size: 24px;
    }
  }
  
  @media only screen and (min-width: 400px) {
    .page-section {
      min-width: 400px;
    }
  }
  
  