.header-texto {
  display: flex;
  flex-direction: column; /* Altera a direção do flex para coluna */
  text-align: center;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(45deg, #da70d6, #ffd700);
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
}

.header-texto:hover {
  background: linear-gradient(45deg, #800080, #ffff00);
  font-weight: bold;
}

.h1-header-texto {
  font-size: 48px; /* Reduz o tamanho da fonte para telas menores */
  color: #fff;
  margin: 0;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px; /* Adiciona um espaçamento extra */
}

.Logo {
  width: 200px; /* Reduz o tamanho do logo para telas menores */
  margin-right: 0; /* Remove a margem à direita */
}

.return-button {
  width: 100px; /* Reduz ainda mais a largura do botão de retorno */
  height: 50px; /* Reduz ainda mais a altura do botão de retorno */
  font-size: 14px; /* Reduz ainda mais o tamanho da fonte */
  border: none;
  margin: 5px; /* Reduz a margem do botão de retorno */
  border-radius: 5px;
  background: #ffffa7;
  font-size: 16px; /* Reduz o tamanho da fonte para telas menores */
  cursor: pointer;
  color: #000;
}

@media (max-width: 500px) {
  .header-texto {
    padding: 10px; /* Reduz o espaçamento interno */
  }

  .h1-header-texto {
    font-size: 36px; /* Reduz ainda mais o tamanho da fonte */
  }

  .Logo {
    width: 150px; /* Reduz ainda mais o tamanho do logo */
  }

}

.return-button:hover {
  background: #ffff00;
  font-size: 28px;
  font-weight: bold;
}