.header-texto {
  background: linear-gradient(45deg, #da70d6, #ffd700);
  padding: 10px;
  border-radius: 15px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease, font-weight 0.3s ease, box-shadow 0.3s ease;
}

.header-texto:hover {
  background: linear-gradient(45deg, #800080, #ffff00);
  font-weight: bold;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.856);
}

.h1-header-texto {
  font-size: 72px;
  text-align: center;
  color: #fff;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.return-button {
  width: 140px;
  height: 70px;
  margin: 10px;
  border-radius: 5px;
  background: #ffffa7;
  font-size: 18px;
  border: none;
  cursor: pointer;
  color: #000;
  transition: background-color 0.3s ease, font-size 0.3s ease, font-weight 0.3s ease;
}

.return-button:hover {
  background: #ffff00;
  font-size: 28px;
  font-weight: bold;
}
