.Pagina {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.nome-da-empresa {
  background: linear-gradient(45deg, rgb(218, 112, 214), rgb(255, 215, 0));
  padding: 10px;
  border-radius: 15px;
  margin: 10px;
    font-size: 72px;
  text-align: center;
  font-weight: inherit;
  color: #000000; /* Change header text color to white for better visibility */
}

.nome-da-empresa:hover {
  background: linear-gradient(45deg, rgb(128, 0, 128), rgb(255, 255, 0));
  font-weight: bold;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.856);
}

.EnsinoInteligente {
  font-size: 72px;
  text-align: center;
  font-weight: inherit;
}

.button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.button {
  width: 140px;
  height: 70px;
  margin: 10px;
  border-radius: 5px;
  background: rgb(255, 255, 167);
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.button:hover {
  background: #ffff00;
  font-size: 20px;
  font-weight: bold;
}

.page-section {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  background: #f1dff1;
  padding: 10px;
  border-radius: 15px;
}

.page-section:hover {

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.452);

}

.texto-corporativo {
  text-align: justify;
  font-size: 32px;
  font-family: monospace;
}

.texto-corporativo-in {

  text-align: center;
  font-size: 38px;
  font-family: monospace;
  font-weight: bolder;

}

.DestaqueNomeDaEmpresa001 {

color: #ff0000;
font-family: monospace;
font-weight: bold;

}

.DestaqueNomeDaEmpresa002 {

  color: #ff0000;
  font-family: monospace;
  font-weight: bold;

}

.footer {
  background: #f1dff1;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 15px;
  
}

.footer:hover {

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.418);

}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.Localização {
  font-size: 18px;
  margin-bottom: 10px;
}

.Endereço {
  font-size: 14px;
  margin-bottom: 10px;
}

.CidadeEstado {

  font-size: 14px;
  margin-bottom: 10px;

}

.CNPJ {

  font-size: 18px;
  margin-bottom: 10px;

}

.NumeroCNPJ {

  font-size: 14px;
  margin-bottom: 10px;

}


/* Media query para dispositivos móveis */
@media (max-width: 900px) {
  .button-container {
    flex-direction: column;
  }

  .button {
    width: 100%;
  }
}
